<h2>Contact</h2>
<table class="table" ng-if="users.length>0">
    <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Job</th>
        <th>number</th>
        <th>Actions</th>
    </tr>
    <tr ng-repeat="user in users">
        <td>{{user.name}}</td>
        <td>{{user.address}}</td>
        <td>{{user.job}}</td>
        <td>{{user.number}}</td>
        <td>
            <a ui-sref="edit({id:user._id})">Edit</a> |
            <a href="#" ng-click="deleteUser(user._id)">Delete</a>
        </td>
    </tr>
</table>
<div ng-if="users.length==0">
    No record found !!
</div>